h1{
  padding-top: 1px;
  font-size: xx-large;
  font-style: italic;
  font-weight: 20%;
  margin-right: 200px;
  
}

#details{
  display: flex;
}

#searchButton {
  border-radius: 10px;
  background-color: #6C698D;
  color: black;
  font-size: medium;
  width: 80px;
  margin-right: px;
  height: 40px;
  align-content: center;
  margin-top: 20px;
}

#searchButton:hover {
  background-color: #383F51;
  color: white;
}

#input {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  font-size: larger;
  margin-right: 30px;
  margin-top: 20px;
}

#input:hover {
  background-color: #F4EDED;
  color: black;
  border-style: hidden;
}

th, td {
  border: 1px solid;
  border-radius: 4px;
  width: 300px;

}

td{
  color: black;
  border: 1px solid;
}

#new {
  width: fit-content;
  margin-bottom: 20px;
}

#inputtransaction {
  height: 40px;
  font-size: large;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#type {
  height: 40px;
  font-size: large;
  border-radius: 5px;
  margin-right: 10px;
}

#newtransactions {
  height: 40px;
  font-size: large;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #6C698D;
}

#newtransactions:hover{
  background-color: #383F51;
  color: white;
}
.navbar {
  display: flex; 
  background: beige; 
  padding: 10px; 
  margin: 5px; 
  border-radius: 10px; 
}

.body {
  background-color: #DECDF5;
}
.forminput{

}
